# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Various Files
*.gno
*.gda
*.gcov
*~
#*#
vgcore*
plazza
*build*

# Editor configurations
*sublime*
.idea/
/.idea/workspace.xml
